footer(role="contentinfo")
    .container
        .row
            .col-lg-3.col-md-3.col-sm-6.column.col-xs-6.solaris-column
                p
                    | Идея, создание <nobr>и развитие ресурса:</nobr>
                p Solaris Promo Production
                a(href="#")
                    img(src=res.img+"solaris_logo.png", alt="Лого Solaris Promo", title="Лого Solaris Promo").solaris-logo
            .col-lg-3.col-md-3.col-sm-6.col-xs-6.column
                a(href="")
                    img(src=res.img+"site_logo.png", alt="Лого Шоу Онлайн", title="Лого Шоу Онлайн").site-logo
                p © 2014—2015 showonline.com
                    br
                    | Все права защищены.
            .col-lg-2.col-md-2.col-sm-3.col-sm-offset-1.col-md-offset-0.col-xs-4.column
                h6 Смотрите
                ul.footer-menu
                    li
                        a(href="/fizruk") Физрук
                    li
                        a(href="/dom2") Дом 2
            .col-lg-2.col-md-2.col-sm-4.col-xs-4.column
                h6 О нас
                ul.footer-menu
                    li
                        a(href="#") О проекте
                    li
                        a(href="#") Размещение рекламы
                    li
                        a(href="#") Правообладателям
            .col-lg-2.col-md-2.col-sm-3.col-xs-4.column
                h6 Пользователям
                ul.footer-menu
                    li
                        a(href="")
                            | Пользовательское
                            br
                            | соглашение
                    li
                        a(href="")
                            | Политика
                            br
                            | конфиденциальности
.modal.fade(tabindex='-1', role='dialog', area-hidden='true')#auth_modal
    .modal-dialog
        .modal-content
            .modal-header
                button(type="button",data-dismiss="modal").close
                    span(aria-hidden="true") &times;
                    span.sr-only Close
            .modal-body
                ul.nav.nav-tabs
                    li
                        a(href='#login_tab', data-toggle='tab')
                            span Вход на сайт
                    li.active
                        a(href='#reg_tab', data-toggle='tab')
                            span Регистрация
                ul.social
                    li
                        a(href="/login/vk-oauth2")
                            img(src=res.img + "soc_ico_vk.png", alt="Вконтакте", title="Вход через Вконтакте")
                    li
                        a(href="/login/fb-oauth2")
                            img(src=res.img + "soc_ico_fb.png", alt="Фейсбук", title="Вход через Фейсбук")
                    li
                        a(href="/login/tw-oauth2")
                            img(src=res.img + "soc_ico_twitter.png", alt="Твиттер", title="Вход через Твиттер")
                    li
                        a(href="/login/ok-oauth2")
                            img(src=res.img + "soc_ico_ok.png", alt="Одноклассники", title="Вход через Одноклассники")
                .tab-content.popup-content
                        #reg_tab.tab-pane.active
                            form.form-popup(role='form',method="post",action="/intest")#reg_frm
                                .form-group
                                    input#reg_login.form-control(type="email",name='login',required,placeholder="Электронная почта")
                                .form-group
                                    input#reg_password.form-control(type='password',name='password',required,placeholder="Пароль")
                                .form-group
                                    button.btn.btn-success(type='submit') Зарегистрироваться
                        #login_tab.tab-pane
                            form.form-popup(role='form',method="post",action="/login")#login_frm
                                .form-group
                                    input#login_login.form-control(name='login',required,placeholder="Электронная почта или телефон")
                                .form-group
                                    input#login_password.form-control(type='password',name='password',required,placeholder="Пароль")
                                .form-group
                                    button.btn.btn-success(type='submit') Войти
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
script(src=res.js+"bootstrap.min.js")
script(src=res.js+"config.js")
script(src=res.js+"video.js")
script(src=res.js+"player.js")
script(src=res.js+"mi.helper.js")
script(src=res.js+"mi.rest.js")
script(src=res.js+"app.js")
script(src=res.js+"bootstrap-notify.js")
script(src=res.js+"jquery.rateit.min.js")
if head_scripts
    each item in head_scripts
        script(src=item)