include config

- months = ["января", "февраля", "марта", "апреля", "мая", "июня", "июля", "августа", "сентября", "октября", "ноября", "декабря"]
- date_now = new Date()

- function format_stat_number(i) {
-   if( i < 1000 ) {
-       return '<s>' + i + '</s>';
-   } else {
-       big = Math.floor(i/1000);
-       small = i - big*1000 || '000';
-       return '<b>' + big + '</b>' + '<s>' + small + '</s>';
-   }
- }
- function colon_duration_text(sec_total) {
-   var ho, mi, res, da;
-   ho = Math.floor(sec_total / 3600);
-   min = Math.floor( (sec_total - ho*3600) / 60 );
-   sec = sec_total - ho*3600 - min*60;
-   if (min < 10) min = '0' + min;
-   if (sec < 10) sec = '0' + sec;
-   return (ho ? (ho+':') : '') + min + ':' + sec;
- }
- function time_text_str(str) {
-   try {
-       return time_text(new Date(str));
-   } catch (e) {
-       return str;
-   }
- }
- function utime_text_str(str) {
-   try {
-       return time_text(new Date(str * 1000));
-   } catch (e) {
-       return str;
-   }
- }
- function cardinal(val, form1, form2, form3) {
-   var d10;
-   if (val > 4 && val < 21) return form3;
-   d10 = val % 10;
-   if (d10 == 0 || d10 > 4) return form3;
-   if (d10 == 1) return form1;
-   return form2;
- }
- function time_text(dt) {
-   var diff, curday, curtime, ho;
-   curtime = dt.getTime();
-   diff = (date_now.getTime() - curtime) / 1000;
-   if (diff < 60) return "сейчас";
-   if (diff < 3600) {
-       min = Math.floor(diff / 60)
-       return min + cardinal(min, " минуту", " минуты", " минут") + " назад"
-   }
-   curday = date_now.getTime() - date_now.getTime() % 86400000;
-   if (curday < curtime) {
-       ho = Math.floor(diff / 3600);
-       if (ho <= 6) {
-           return ho + cardinal(ho, " час", " часа", " часов") + " назад";
-       } else return "сегодня";
-   }
-   if ((curday - 86400000) < curtime) return "вчера";
-   if (dt.getFullYear() == date_now.getFullYear()) return (dt.getDate() + " " + months[dt.getMonth()]);
-   return dt.getDate() + " " + months[dt.getMonth()] + " " + dt.getFullYear();
- }

mixin film_thumb(item)
    - tmp_topic = ""
    - href = "#"
    if item.units && item.units[0]
        - tmp_topic = item.units[0].topic.title
        - href = "/" + item.units[0].topic.name + "/video/" + item.id
        if item.units[0].morder
            - film_name = item.units[0].title + ", " + item.units[0].morder + " серия"
        else
            - film_name = item.units[0].title
    else
        - href = "/video/" + item.id
        - film_name = item.title
    if tmp_topic
        - film_name = tmp_topic + ": " + film_name

    a(href=href, title="", data-mi-athref="id")
        .lheight0.fsize0
            .rel.cast-poster-wrapper
                img(src=res.global.content_media + item.id + "/poster_200x200", alt=film_name, title=film_name, data-mi-atsrc="id", data-mi-atalt="title", data-mi-attitle="title").cast-poster
                .cast-play-btn.zmin
                    .play-triangle
            .rel.zmin
                .cast-duration(data-mi-name="duration")=colon_duration_text(item.duration)
    .cast-thumb-def
        div.film-name
            a(href=href, title="", data-mi-name="title", data-mi-athref="id")=film_name
        i.sprite.sprite-i-icon-clock
        span(data-mi-name="date")=utime_text_str(item.releasedate)

mixin user_thumb_rating(item, index, is_star)
        - is_first_class = ''
        if index == 0
            - is_first_class = 'is-first'
        li.person-rating-item(class=is_first_class)
            .thumb-wrapper
                .rating-index
                    if is_first_class
                        if is_star
                            .sprite.sprite-i-person-rating-star
                        else
                            .sprite.sprite-i-person-rating-cup
                    else
                        =(index + 1) + " "
                            i &mdash;
                - tmp_url = res.global.content_users + item.id + "/avatar_100x100"
                img(src=tmp_url, alt="", title="").person-img
            .person-def
                - user_url = '/users/' + item.id
                a(href=user_url).person-name=item.name
                span.sprite.sprite-i-rating
                if item.rating
                    span.rating-text="Рейтинг: "
                        i=item.rating
                if item.topic
                    .cast-name="Сериал: "
                        i=item.topic.title
                    .star-role="Роль: "
                        i=item.topic.role

mixin news_thumb(news_item)
    if news_item.img_url && news_item.img_url.length > 0
        img(src=news_item.img_url, alt=news_item.cast_name, title=news_item.cast_name).cast-news-img
    .cast-news-def
        .cast-news-header
            if news_item.object
                a.cast-name(href="/" + news_item.object.name)=news_item.object.title
            span.cast-date= ' / ' + utime_text_str(news_item.published)
        .cast-news-title
            - url = "/news/" + news_item.id
            if news_item.object
                - url = "/" + news_item.object.name + url
            a(href=url)=news_item.title
    .clearboth

mixin comment_thumb(item)
    .comment
        - url = "/users/" + item.user.id
        .avatar
            - tmp_img_url = res.global.content_users + item.user.id + "/avatar_100x100"
            img(src=tmp_img_url, alt=item.user.name, data-mi-atsrc="id", data-mi-atalt="user.name")
        .comment-info
            .comment-header
                a(href=url, data-mi-name="user.name")=item.user.name
                span(data-mi-name="created", data-mi-val=item.created)=utime_text_str(item.created)
            .comment-text(data-mi-name="text")=item.text
