doctype html
html
   include config
   include mixins
   include head
   body.page-onenews
      include header
      - cls = ""
      - bg_image = ""
      if topic_name
         - bg_image = 'background-image: url("' + topics_bg[topic_name] + '")'
      else
         - cls = "no-topic-wrapper"
      .topic-wrapper(style=bg_image, class=cls)
         .shadow-container-wrapper
            .shadow-container
               section.onenews-block
                  .container
                     .col-md-9
                        if onenews.img_url
                           img(src=onenews.img_url,align="right").onenews-img
                        .news-info
                           //=topic.title + " "
                           span / #{utime_text_str(onenews.published)}
                        h2.onenews-title=onenews.title
                        .share-block
                           script(src="http://yandex.st/share/share.js", charset="utf-8")
                           .yashare-auto-init(data-yasharetype="big", data-yashareL10n="ru", data-yashareQuickServices="odnoklassniki,vkontakte,gplus,facebook,twitter,moimir", data-yashareTheme="counter")
                        .onenews-text!=onenews.text
                        .news-back-url
                           span.arrow &#8592;
                           a(href="/news") Назад к новостям
                     if news_little && news_little.length
                        - news_little_title = "Обсуждаемые новости"
                        .col-md-3.news-list
                           include parts/news_little_block
               section.news-block
                  - news_little = false
                  .container
                     include parts/comments_block
      include footer
      - conf = {}
      - conf.news = news
      script.
         $(document).ready(function () {
            window.InitApp({page_conf: !{JSON.stringify(conf)}}, "OneNews")
         })
