doctype html
html
    include config
    include mixins
    include head
    body
        include header
        section.info-teaser
            .container
                .info-teaser-top
                    h1.info-header
                       | Нравятся реалити-шоу <nobr>«Дом 2»</nobr> <nobr>или сериал</nobr> «Физрук»?
                    h2 Смотрите новые серии в любое удобное для вас время на нашем сайте!
                .info-teaser-hr.margin0a &nbsp;
                .info-teaser-bottom.container
                    p Пройдите быструю регистрацию с помощью своего телефона и получите возможность
                    .info-teaser-features.margin0a
                        .row
                            .col-md-4.col-sm-6
                                .info-teaser-feature
                                    em
                                        i.sprite.sprite-i-teaser-watch
                                    p
                                        | Подписываться и смотреть
                                        br
                                        | все выпуски сериалов
                            .col-md-4.col-sm-6
                                .info-teaser-feature
                                    em
                                        i.sprite.sprite-i-teaser-notice
                                    p
                                        | Получать уведомления
                                        br
                                        | о выходе новых серий
                            .col-md-4.col-sm-6
                                .info-teaser-feature
                                    em
                                        i.sprite.sprite-i-teaser-comment
                                    p
                                        | Комментировать и обсуждать
                                        br
                                        | видео вместе с друзьями
                form(role="form", action="/register", method="post",data-mi-pid="reg_phone_frm").form-inline.info-teaser-form
                    .form-group
                        p(data-mi-pid="reg_phone_wait", style="visibility: hidden") На указанный номер телефона была отправлена sms с кодом активации
                        input(type="text", placeholder="Номер телефона (79123456789)",name="phone",data-mi-pid="reg_phone_input").form-control
                        button(type="submit", data-mi-pid="reg_phone_submit").btn.btn-success Зарегистрироваться
        .shadow-container
            section.casts-list
                .container(data-mi-pid="media_block")
                    include parts/media_block
            if news && news.length
                - news[0].img_url = res.img + "tmp/main_news_index.jpg"
            section.news-block
                .container
                    include parts/news_block
            section.main-chat
                .container
                    h3 Чат
                    .row.border-wrapper
                        .col-md-9.chat-items-block
                            .chat-items-list-wrapper
                                .chat-items-list(data-mi-pid="chat_output")
                                    if chat_items && chat_items.length
                                        each chat_item in chat_items
                                            .chat-item
                                                - user_url = '/users/' + chat_item.user.id
                                                a(href=user_url)=chat_item.user.name + ':'
                                                = ' '
                                                span=chat_item.text
                            form.form.chat-msg-form(data-mi-pid="chat_form")
                                input(type='text', placeholder='Введите сообщение и нажмите Enter').form-control.chat-msg-input
                        .col-md-3.hidden-sm.hidden-xs.chat-users-block
                            .chat-users-list-wrapper
                                .chat-users-list
                                    ul(data-mi-pid="chat_online_users")
                                        if chat_users && chat_users.length
                                            each user in chat_users
                                                - online_class = !user.online ? 'online' : ''
                                                li.chat-user(class=online_class)
                                                    - user_url = '/users/' + user.id
                                                    a(href=user_url)=user.name
            section.social-block
                .container
                    .row
                        .col-lg-4.col-md-6.col-sm-6.column
                            h3 Рейтинг звезд
                            ul.top-stars-list
                                if top_persons && top_persons.length
                                    each item, i in top_persons
                                        mixin user_thumb_rating(item, i, true)
                            a(href="/persons").all-persons Все звезды
                        .col-lg-4.col-md-6.col-sm-6.column
                            h3 Рейтинг пользователей
                            ul.top-users-list
                                if top_users && top_users.length
                                    each item, i in top_users
                                        mixin user_thumb_rating(item, i)
                        .col-lg-4.col-md-12.col-sm-12.column
                            h3 Мы в соц.сетях
                            .soc-widgets(role="tabpanel")
                                ul.nav.nav-tabs(role="tablist")
                                    li.active(role="presentation")
                                        a(href="#vkwidget",aria-controls="vkwidget", role="tab", data-toggle="tab") Вконтакте
                                    li(role="presentation")
                                        a(href="#fbwidget",aria-controls="fbwidget", role="tab", data-toggle="tab") Фейсбук
                                .tab-content
                                    .tab-pane.active.widget-vk#vkwidget(role="tabpanel")
                                        #vk_groups
                                    .tab-pane.widget-fb#fbwidget(role="tabpanel")
                                        |<div class="fb-like-box" data-href="https://www.facebook.com/SerialovTV" data-width="100%" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="false"></div>
            section.info-block
                .container
                    .row
                        .col-md-8
                            h5 Бесплатный онлайн кинотеатр шоу онлайн
                                br
                                | сериалы и шоу в хорошем качестве всегда приносят настоящее удовольствие

                            p Случалось ли вам отказаться от просмотра интересного фильма из-за того, что его показывали в неудобное время?
                                | Приходилось ли искать в сети интернет, где смотреть фильмы онлайн?
                                | А спорить с домашними из-за выбора кино для просмотра по ТВ?
                            p Все эти проблемы остались в прошлом! Откройте для себя фильмы онлайн  в HD качестве с кинотеатром Шоу Онлайн.
                                | Мы не просто освобождаем вас от необходимости идти в кинотеатр или изучать программу телепередач — у посетителей нашего ресурса гораздо больше возможностей.
                            p Онлайн кинотеатр Шоу Онлайн — это самая большая коллекция отечественных и зарубежных фильмов в рунете.
                                | Наша видеотека насчитывает более 30 тысяч фильмов и видеороликов, доступных для просмотра
                                | в онлайн, и постоянно пополняется.

                        - if (stat)
                            .col-md-4.statistics
                                h5 Шоу онлайн в цифрах
                                .stat-block
                                    - if (stat.views_count !== undefined)
                                        span
                                            b просмотров видео
                                            em более
                                        .stat-number!=format_stat_number(stat.views_count)

                                .stat-block
                                    - if (stat.episodes_count)
                                        .stat-number!=format_stat_number(stat.episodes_count)
                                    span
                                        b серий
                                .stat-block
                                    - if (stat.users_count !== undefined)
                                        span
                                            b участников
                                            em более
                                        .stat-number!=format_stat_number(stat.users_count)
                                .stat-block
                                    - if (stat.comments_count !== undefined)
                                        span
                                            b комментариев
                                            em более
                                        .stat-number!=format_stat_number(stat.comments_count)
            #fb-root
            script.
                (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&appId=779938468744956&version=v2.0";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            script(src="//vk.com/js/api/openapi.js?116")
            script.
                VK.Widgets.Group("vk_groups", {mode: 0, width: "300px", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 82007356);
            include footer
            script.
                $(document).ready(function () {window.InitApp({page_conf: {}}, "Main")})