doctype html
html
   include config
   - title = media.title
   - title_href = "/" + topic.name
   if !title
      - title = unit.title
      if unit.morder
         - title+= ", " + unit.morder + " серия"
   - page_title = title
   - head_scripts = [res.js + "lib/vast-client.js", res.js + "lib/videojs.ads.js", res.js + "videojs.vast.js"]
   include mixins
   include head
   body.page-video
      - bg_image = 'background-image: url("' + topics_bg[topic.name] + '")'
      include header
      .topic-wrapper(style=bg_image)
         .shadow-container
            section.info-block
               .container
                  .col-lg-10.col-md-12.col-no-padding
                     .subscribe
                        button.btn.btn-success Подписаться
                     h1
                        a(href=topic_href)=topic.title
                        | #{" " + title}
                     .video-container
                        - poster = res.global.content_media + media.id + "/poster"
                        - location = res.global.cdn + "v/" + media.id + "/hd.mp4"
                        video(id="video" class="video-js vjs-default-skin vjs-dark-acid-skin" controls="" preload="none", data-setup="{}", poster=poster)
                           source(src=location type='video/mp4')
                     .video-ctrls
                        .col-md-7.col-no-padding.col-sm-12
                           .col-md-8.col-no-padding.col-xs-8
                              button.btn-playlist.btn-transparent
                                span в&nbsp;плейлист
                              button.btn-invite.btn-transparent
                                 span пригласить
                           .col-md-4.col-no-padding.col-xs-4
                              .rating-block
                                 .col-md-8.col-no-padding.col-xs-8
                                    //.rateit(data-rateit-max=10,data-rateit-step=1,data-rateit-resetable=1,data-rateit-value=0)#rateit
                                 if media.rating
                                    .col-md-4.rating-total.col-no-padding.col-xs-4
                                       |#{media.rating}
                                       span #{" (" + media.rating_votes + ")"}
                        .col-md-5.col-no-padding.col-sm-12
                           .col-md-8.col-no-padding.col-xs-8
                              .share-block
                                    script(src="http://yandex.st/share/share.js", charset="utf-8")
                                    .yashare-auto-init(data-yasharetype="big", data-yashareL10n="ru", data-yashareQuickServices="odnoklassniki,vkontakte,gplus,facebook,twitter,moimir", data-yashareTheme="counter")
                           if media.views_cnt
                              .col-md-4.video_stat.col-no-padding.col-xs-4
                                 b=media.views_cnt
                                 | Просмотров
                     if units && units.length
                        .clearfix
                        .units-media(role="tabpanel")
                           ul.nav.nav-tabs(role="tablist")
                              for item in units
                                 if item.id == unit.id
                                    - cls = "active"
                                 li(role="presentation", class=cls)
                                    - tmp_name = "media_unit_" + item.id
                                    - tmp_url = "#" + tmp_name
                                    a.unit-btn(href=tmp_url, aria-controls=tmp_name, role="tab", data-toggle="tab")=item.title
                           .tab-content.units-media-wrapper.modern-scrollbar(data-mi-pid="units_media")
                              for item in units
                                 - tmp = "media_unit_" + item.id
                                 - cls = ""
                                 if item.id == unit.id
                                    - cls = "active"
                                 .media-list.tab-pane.widget-vk(role="tabpanel",data-mi-pid=tmp,id=tmp,class=cls)
                                    - item_media = params["unit." + item.id]
                                    if item_media
                                       for m in item_media
                                          .cast-thumb.col-lg-2.col-md-3.col-sm-4.col-xs-4
                                             mixin film_thumb(m)
                  if films_popular && films_popular.length
                    .col-lg-2.col-no-padding.col-md-12.films-popular.modern-scrollbar
                       h2 популярные
                       .films-popular-wrapper
                          for item in films_popular
                              .cast-thumb
                                 mixin film_thumb(item)
            section.news-block
               .container
                  include parts/comments_block
      include footer
      - conf = {}
      - conf.media = media
      - conf.unit = unit
      script.
         $(document).ready(function () {
            window.InitApp({page_conf: !{JSON.stringify(conf)}}, "Video")
         })
