//- global variables
- jade_url = "../../engine/jade/"
- static_url = "static/"
- css_url = static_url + "css/"
- js_url = static_url + "js/"
- img_url = static_url + "img/"
- api_url = "tmp/api"